@font-face {
	font-family: "Mayestica";
	src: url("../fonts/Mayestica.ttf");
}

@font-face {
	font-family: "Roboto-Regular";
	src: url("../fonts/Roboto-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
	width: 100%;
	text-align: center;
	font-size: 48px;
}

body{
    background-color: rgba(20,112,163,0.6);
}

main{
    width: 70%;
    padding: 40px;
    margin: auto;
    background-color: #c90aa0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
}

div {
    width: 200px;
    height: 100px;
    margin: 20px;
}


.photo1 {
    background-color:  url(../img/12.png);
}

.photo2 {
    background-image: url(../img/12.png);
}

.photo3 {
    background-image: url(../img/10.png);
}

.photo4 {
    background-image: url(../img/1.png);
}

.photo5 {
    background-image: url(../img/2.png);
}

.photo6 {
    background-image: url(../img/3.png);
}

.photo7 {
    background-image: url(../img/4.png);
}

.photo8 {
    background-image: url(../img/5.png);
}

.photo9 {
    background-image: url(../img/6.png);
}

.photo10 {
    background-image: url(../img/7.png);
}

.photo11 {
    background-image: url(../img/8.png);
}

.photo12 {
    background-image: url(../img/9.png);
}

div{
    width: calc(50% - 40px);
    height: calc(35vm -40px) / 16 * 9;
    background-color: antiquewhite;
    margin: 20px;
    background-position: center;
    background-size: cover;
    transition: all 0.5s;
}

div:hover {
	transform: rotate(3deg) scale(1.07);
	box-shadow: 0 0 20px 1px rgba(0,0,0,0.4);
}



h1{
    font-family:"Roboto-Regular";
    width: 100%;
    text-align: center;
    font-size: 48px;
}